body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
 .title{
    font-size: 3rem;
    margin: 6vh;
    border: 3px dashed rgb(52, 52, 243);
    padding: 1vh 5vw;
    border-radius: 10px;
 }
 .cards{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: auto;
  margin: 0 auto;
 }

 .card{
  width: 400px;
  height: max-content;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  box-shadow:rgb(0,0,0,0.24) 0px 3px 8px ;
 }
 .image{
  width: 380px;
  aspect-ratio: 1/1;
  object-fit: cover;
 }

 .tour-info{
  margin: 20px 5px;
  text-align: left;
 }

 .tour-price{
  color: green;
  text-align: left;
  /* font-weight: 500; */
  font-weight: bold;
  margin: 10px 0px;
  font-size: 20px;
 }

 .tour-name{
  font-size: 1.5rem;
  font-weight: bold;
 }
 .read-more{
  color: rgb(87, 132, 255);
  font-weight: 600;
  cursor: pointer;
 }

 .btn-red{
  margin-top: 18px;
  padding: 10px 18px;
  border: 1px solid red;
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  background-color: #b4161b21;
 }
 .btn-red:hover{
  background-color: red;
  color: white;
  transition: 0.2s;
 }

 .refresh{
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .btn-white{
  padding: 5px 10px;
 }
 .card-info{
  text-align: left;
 }